.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "17"
displayName = "{{ vm.name }}"
guestOS = "{{ vm.guestos }}"
nvram = "{{ vm.name }}.nvram"
virtualHW.productCompatibility = "hosted"
scsi0.present = "TRUE"
scsi0.virtualDev = "lsilogic"
scsi0:0.present = "TRUE"
scsi0:0.fileName = "{{ vm.name }}.vmdk"
{% for net in vm.networks %}
ethernet{{ loop.index0 }}.present = "TRUE"
ethernet{{ loop.index0 }}.virtualDev = "vmxnet3"
ethernet{{ loop.index0 }}.networkName = "{{ net }}"
ethernet{{ loop.index0 }}.addressType = "generated"
{% endfor %}
ide1:0.present = "TRUE"
ide1:0.deviceType = "cdrom-image"
ide1:0.fileName = "{{ iso_path }}/{{ vm.iso }}"
ide1:0.startConnected = "TRUE"
